@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit:wght@300&family=Mouse+Memoirs&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Lobster&family=Oswald:wght@300&family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    /* background: #6F5048;
    background: -webkit-radial-gradient(top right, #143642, #263c41);
    background: -moz-radial-gradient(top right, #143642, #263c41);
    background: radial-gradient(to bottom left, #143642, #263c41); */
    background: url(img/images.jfif) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    backdrop-filter: blur(5px);
    display: inline;
    overflow-x: hidden;
}

header {
    height: 15vh;
    width: 80%;
    margin: auto;
    border-bottom: 3px solid #6f523b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0%;
    /* left: 10%; */
    z-index: 2000;
}

.brand {
    display: flex;
    align-items: center;
    width: 20%;

}

.brand h2 {
    color: whitesmoke;
    letter-spacing: 1px;
    font-family: 'Pacifico', cursive;

}

.brand .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9c5b30cb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
}

header nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    color: #f0e5e1;
    text-decoration: none;
    padding-bottom: 8px;
    transition: 0.2s ease;
    font-family: 'Bree Serif', serif;
}

header nav a:hover {
    color: #eca186;
    border-bottom: 2px #ffd1ad solid;

}

header #connect {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #connect button {
    width: 80px;
    padding: 8px;
    border: 0;
    border-radius: 20px;
    background-color: white;
    color: #143642;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    transition: 0.5s ease;
    font-family: 'Pacifico', cursive;
}

header #connect button:hover {
    background-color: transparent;
    color: white;
}

/* ------------------ section ------------------ */
section {
    height: 85vh;
    display: flex;
    /* margin-top: 15vh; */
}

section #left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section #left #gri {
    height: 20%;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section #left #gri div {
    width: 14%;
}

section #left #gri img {
    width: 100%;
    cursor: pointer;
    /* border-radius: 50%; */
}

section #left #kas {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

section #left #cup {
    height: 100%;
    background-color: #e4e4e4;
    /* backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.377); */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    border-radius: 10px 10px 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

section #left #cup .brand {
    width: 70%;
    color: black;
    z-index: 1999;
}

section #left #cup #coffeecont {
    background-color: #201913;
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 30px 30px;
}

section #left #cup .brand h2 {
    color: black;
}

section #left #cuphand {
    position: relative;
    /* top: 50%; */
    left: -35%;
    /* transform: translate(-50%, 50%); */
    height: 80%;
    width: 40%;
    box-shadow: 30px 30px 0 2px rgb(177, 177, 177);
    border-radius: 50%;
    transform: rotate(310deg);
    z-index: -1999;
}

/* --------------------- right -------------------------- */
section #right {
    height: 100%;
    width: 50%;
    padding-top: 20px;
}

section #right #test {
    height: 400px;
    background-color: #6f523bb2;
    width: 350px;
    float: right;
    border-radius: 50% 0 0 50%;
    transition: 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

section #right #test .mark {
    position: absolute;
    top: 15%;
    left: 25%;
    border-radius: 20px;
    width: 70%;
    padding: 10px;
    text-align: center;
    transition: 0.5s ease;
    transform: translateX(250px);
}

section #right #test .mark h2 {
    color: burlywood;
    letter-spacing: 3px;
}

section #right #test .mark p {
    color: white;
}

section #right #test .mark img {
    width: 200px;
}

section #right #test img {
    width: 95px;
    cursor: pointer;
    transition: 0.3s ease;
}

section #right #test img#samar {
    /* transform: translateX(-50px); */
    margin-left: -50px;
}



section #right #test img:hover {
    transform: rotate(10deg);
}

/* ---------------------------dtwo ---------------------- */
#dtwo {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#dtwo>h2 {
    color: #ffffff;
    margin: auto;
    position: relative;
    bottom: -60px;
    font-family: 'Bree Serif', serif;
    letter-spacing: 2px;
    font-size: 30px;
}

.rowprod {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    /* justify-content: space-around; */
    align-items: flex-end;
    height: 70%;
    padding: 10px;
    margin: auto;
    position: relative;
}

.rowprod::-webkit-scrollbar {
    display: none;
}

.rowprod .card {
    /* background-color: #9e8576; */
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.267);
    width: 20em;
    height: 80%;
    border-radius: 50px 50px 120px 120px;
    margin: 0 10px;
    position: relative;
    top: -20%;
    /* z-index: -19; */
    transition: 0.5s ease;
    cursor: pointer;
    position: relative;
}

.rowprod .card:hover {
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.459);
}

.rowprod .buy {
    position: absolute;
    top: 0%;
    /* background-color: #0a0501; */
    color: whitesmoke;
    z-index: -19;
    opacity: 0;
    height: 60%;
    width: 100%;
    transform: rotatey(180deg);
    border-radius: 20px 20px 0 0;
    padding: 10px;
    text-align: center;
}

.rowprod .buy h2 {
    font-family: 'Bree Serif', serif;
}

.rowprod .buy label {
    font-family: 'Abril Fatface', cursive;
}

.rowprod .buy input {
    padding: 5px;
    border-radius: 20px;
    border: 0;
    width: 20%;
    margin-left: 20px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.rowprod .buy input:focus {
    border-radius: 20px;
    border: 0;
    outline: none;
}

.rowprod .buy p {
    font-family: 'Lobster', cursive;
}

.rowprod .buy p>span {
    font-family: 'Abril Fatface', cursive;
    margin-right: 35px;
}

.rowprod .buy button {
    padding: 8px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    font-weight: 800;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    background-color: #ffffff;
}

.rowprod .card img {
    width: 100%;
    margin: auto;
    border-radius: 0 0 120px 120px;
    object-fit: cover;
    height: 45%;
    /* z-index: -12; */
    margin-bottom: -2.9px;
}

.rowprod .card .space {
    /* background-color: aqua; */
    height: 8px;
    width: 280px;
}

.rowprod .card .oud {
    /* background-color: #9e8576; */
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.267);
    height: 80px;
    width: 16px;
    margin: auto;
}

.rowprod .card .ga3 {
    /* background-color: #9e8576; */
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.377);
    height: 13px;
    width: 90px;
    margin: auto;
    border-radius: 20px 20px 8px 8px;
}

.rowprod .card .infocard {
    padding: 5px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* margin: auto; */
    margin-bottom: 18px;
    z-index: -1999;
}

.rowprod .card .infocard h2 {
    color: #fffcfa;
    font-family: 'Lobster', cursive;
    letter-spacing: 4px;
}

.rowprod .card .infocard span {
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}

.rowprod .card .infocard::-webkit-scrollbar {
    display: none;
}

.rowprod>button {
    position: fixed;
    top: 35%;
    width: 50px;
    background: transparent;
    color: white;
    border: 0;
    cursor: pointer;
    /* z-index: 1; */
}

.rowprod>button img {
    width: 65%;
}

.rowprod>button#r {
    right: 0%;
}

.rowprod>button#l {
    left: 0%;
}

.rowprod .corner1 {
    width: 35px;
    height: 26%;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%); */
    position: fixed;
    left: 0%;
    transform: rotate(180deg);
}

.rowprod .corner2 {
    width: 35px;
    height: 26%;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%); */
    position: fixed;
    left: 96.99%;
}

/* ---------------------- ^panier-    ---------------------- */
#pan {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(8px);
    position: absolute;
    width: 40%;
    min-height: 70px;
    max-height: 300px;
    overflow: auto;
    left: 15%;
    top: 80%;
    border-radius: 20px 0 20px 20px;
    padding: 10px;
    display: none;
}



#pan .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    margin: 5px 0;
}

#pan .row:first-child {
    width: 100%;
    margin: auto;
}


#pan .row .cofinf {
    min-width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pan .row .qpan {
    width: 22.5%;
    text-align: center;
}

#pan .row .qprix {
    width: 22.5%;
    text-align: center;
}

#pan .row .rem {
    width: 10%;

}

#pan .row .remov {
    width: 100%;
    background-color: transparent;
    color: red;
    border: 0;
    font-size: 25px;
    cursor: pointer;
}

#pan img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

#pan button#buypan {
    width: 100px;
    padding: 4px;
    font-size: 15px;
    position: relative;
    left: 40%;
    background-color: rgba(174, 224, 236, 0.342);
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    display: none;
}